In [1]:
import os
import numpy as np
import pandas as pd
os.chdir("C:\\Users\\92sup\\Downloads\\ML") #change the directory path and set to the location where the file is located
iris = pd.read_csv("IRIS.csv") #read the IRIS Csv file 
iris=iris.sample(frac=1) #sample the data once for better analysis

In [3]:
#Import the DecisionTreeClassifier for fitting classification tree
from sklearn.tree import DecisionTreeClassifier

#for fitting regression tree
from sklearn.tree import DecisionTreeRegressor

#to create a confusion matrix
from sklearn.metrics import confusion_matrix

In [6]:
iris.head()

     sepal_length  sepal_width  petal_length  petal_width          species
18            5.7          3.8           1.7          0.3      Iris-setosa
63            6.1          2.9           4.7          1.4  Iris-versicolor
133           6.3          2.8           5.1          1.5   Iris-virginica
56            6.3          3.3           4.7          1.6  Iris-versicolor
77            6.7          3.0           5.0          1.7  Iris-versicolor

In [11]:
#creating a separate dataframe to save the OOB prediction
pred = {"Pred1": np.array(np.repeat(np.nan,len(iris)),dtype="<U10")}
pred=pd.DataFrame(data=pred)

In [12]:
pred.head()

  Pred1
0   nan
1   nan
2   nan
3   nan
4   nan

In [13]:
#BOOTSTRAP SAMPLE 1
boot = iris.sample(len(iris), replace = True)
boot.head()

     sepal_length  sepal_width  petal_length  petal_width          species
82            5.8          2.7           3.9          1.2  Iris-versicolor
78            6.0          2.9           4.5          1.5  Iris-versicolor
119           6.0          2.2           5.0          1.5   Iris-virginica
3             4.6          3.1           1.5          0.2      Iris-setosa
29            4.7          3.2           1.6          0.2      Iris-setosa

In [16]:
boot.index

Int64Index([ 82,  78, 119,   3,  29,  47,   6, 109,  91,  91,
            ...
            130, 117, 144,  47, 117,  28,  48, 132,  34,  48],
           dtype='int64', length=150)

In [14]:
uniq_index=np.unique(boot.index)
test_index=[]

for i in range(0,len(iris)):
    if i not in uniq_index:
        test_index.append(i)
        
print(test_index)
print(uniq_index)

[0, 8, 11, 12, 13, 18, 20, 22, 26, 27, 31, 33, 39, 40, 42, 46, 49, 51, 55, 56, 58, 60, 61, 64, 67, 69, 70, 74, 77, 84, 85, 99, 100, 101, 104, 106, 113, 121, 122, 123, 124, 127, 128, 129, 134, 136, 137, 138, 142, 145, 148, 149]
[  1   2   3   4   5   6   7   9  10  14  15  16  17  19  21  23  24  25
  28  29  30  32  34  35  36  37  38  41  43  44  45  47  48  50  52  53
  54  57  59  62  63  65  66  68  71  72  73  75  76  78  79  80  81  82
  83  86  87  88  89  90  91  92  93  94  95  96  97  98 102 103 105 107
 108 109 110 111 112 114 115 116 117 118 119 120 125 126 130 131 132 133
 135 139 140 141 143 144 146 147]

In [15]:
#out of bag data
test=iris.iloc[test_index]
test.head()

     sepal_length  sepal_width  petal_length  petal_width          species
18            5.7          3.8           1.7          0.3      Iris-setosa
75            6.6          3.0           4.4          1.4  Iris-versicolor
60            5.0          2.0           3.5          1.0  Iris-versicolor
147           6.5          3.0           5.2          2.0   Iris-virginica
102           7.1          3.0           5.9          2.1   Iris-virginica

In [18]:
#splitting the x and y

x_boot=boot.drop("species", axis=1)
y_boot=boot[["species"]]

x_test=test.drop("species", axis=1)
y_test=test[["species"]]


#print(x_boot.head())
#print(y_boot.head())

     sepal_length  sepal_width  petal_length  petal_width
82            5.8          2.7           3.9          1.2
78            6.0          2.9           4.5          1.5
119           6.0          2.2           5.0          1.5
3             4.6          3.1           1.5          0.2
29            4.7          3.2           1.6          0.2
             species
82   Iris-versicolor
78   Iris-versicolor
119   Iris-virginica
3        Iris-setosa
29       Iris-setosa

In [25]:
#Training the model on boot strap sample
tree= DecisionTreeClassifier(criterion="gini", min_samples_leaf=5)
tree.fit(x_boot,y_boot)

DecisionTreeClassifier(min_samples_leaf=5)

In [27]:
#OOB PREDICTION
y_pred=tree.predict(x_test)
y_pred

array(['Iris-setosa', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-setosa', 'Iris-setosa', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-setosa', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-virginica', 'Iris-setosa', 'Iris-virginica',
       'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-setosa', 'Iris-virginica',
       'Iris-virginica'], dtype=object)

In [28]:
#attaching the pred to the prediction data frame
pred1 = np.repeat(np.nan,len(iris))
pred1=np.array(pred1,dtype='<U10')
pred1[test_index]=y_pred

In [29]:
pred1[:20]

array(['Iris-setos', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan',
       'Iris-versi', 'nan', 'nan', 'Iris-versi', 'Iris-virgi',
       'Iris-virgi', 'nan', 'nan', 'nan', 'nan', 'Iris-setos', 'nan'],
      dtype='<U10')

In [30]:
pred["Pred1"]=pred1
pred

          Pred1
0    Iris-setos
1           nan
2           nan
3           nan
4           nan
..          ...
145  Iris-setos
146         nan
147         nan
148  Iris-virgi
149  Iris-virgi

[150 rows x 1 columns]

In [31]:
#BOOTSTRAP SAMPLE 2
boot = iris.sample(len(iris), replace = True)
#boot.head()

#TO GET THE DATA

uniq_index=np.unique(boot.index)
test_index=[]

for i in range(0,len(iris)):
    if i not in uniq_index:
        test_index.append(i)
        
#print(test_index)
#print(uniq_index)

#OUT OF BAG DATA
test=iris.iloc[test_index]
#test.head()

#SPLITTING X ND Y
x_boot=boot.drop("species", axis=1)
y_boot=boot[["species"]]

x_test=test.drop("species", axis=1)
y_test=test[["species"]]

#Training the model on boot strap sample
tree= DecisionTreeClassifier(criterion="gini", min_samples_leaf=5)
tree.fit(x_boot,y_boot)

#OOB PREDICTION
y_pred=tree.predict(x_test)

#attaching the pred to the prediction data frame
pred2 = np.repeat(np.nan,len(iris))
pred2=np.array(pred2,dtype='<U10')
pred2[test_index]=y_pred


pred["Pred2"]=pred2
pred

          Pred1       Pred2
0    Iris-setos         nan
1           nan         nan
2           nan         nan
3           nan  Iris-versi
4           nan         nan
..          ...         ...
145  Iris-setos  Iris-setos
146         nan         nan
147         nan         nan
148  Iris-virgi         nan
149  Iris-virgi         nan

[150 rows x 2 columns]

# BAGGING

In [33]:
pred={}

#Number of bagging rounds
n=20

data = iris

for j in range(0,n):
    #Draw a bootstrap sample
    boot= iris.sample(len(iris), replace = True)
    uniq_index=np.unique(boot.index)
    test_index=[]

    for i in range(0,len(iris)):
        if i not in uniq_index:
            test_index.append(i)
        
    #out of bag data
    test=iris.iloc[test_index]
    
    #SPLITTING X & Y
    x_boot=boot.drop("species", axis=1)
    y_boot=boot[["species"]]

    x_test=test.drop("species", axis=1)
    y_test=test[["species"]]
    
    #Training the model on boot strap sample
    tree= DecisionTreeClassifier(criterion="gini", min_samples_leaf=5)
    tree.fit(x_boot,y_boot)

    #OOB PREDICTION
    y_pred=tree.predict(x_test)

    #attaching the pred to the prediction data frame
    pred1 = np.repeat(np.nan,len(iris))
    pred1=np.array(pred1,dtype='<U10')
    pred1[test_index]=y_pred
    key = "Pred" + str(j+1)
    pred[key] = pred1

In [37]:
pred=pd.DataFrame(pred)
pred

,Pred1,Pred2,Pred3,Pred4,Pred5,Pred6,Pred7,Pred8,Pred9,Pred10,Pred11,Pred12,Pred13,Pred14,Pred15,Pred16,Pred17,Pred18,Pred19,Pred20
0,nan,Iris-setos,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,Iris-setos,nan,Iris-setos
1,nan,nan,nan,nan,Iris-versi,nan,Iris-versi,nan,Iris-versi,nan,nan,nan,Iris-versi,nan,nan,nan,nan,Iris-versi,nan,Iris-versi
2,nan,nan,nan,Iris-virgi,Iris-virgi,nan,Iris-versi,Iris-virgi,nan,nan,nan,nan,Iris-virgi,Iris-virgi,nan,nan,nan,Iris-virgi,nan,nan
3,Iris-versi,nan,nan,nan,Iris-versi,nan,nan,Iris-versi,nan,nan,Iris-versi,nan,nan,nan,Iris-versi,nan,nan,nan,Iris-versi,Iris-versi
4,Iris-virgi,nan,nan,Iris-versi,nan,nan,Iris-versi,nan,nan,Iris-virgi,Iris-versi,nan,Iris-virgi,nan,Iris-virgi,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,nan,nan,Iris-setos,nan,nan,nan,nan,Iris-setos,Iris-setos,Iris-setos,Iris-setos,Iris-setos,nan,nan,nan,Iris-setos,nan,nan,nan,nan
146,nan,Iris-virgi,nan,Iris-virgi,Iris-virgi,nan,nan,Iris-virgi,nan,Iris-virgi,nan,nan,nan,nan,Iris-virgi,nan,Iris-virgi,nan,nan,Iris-virgi
147,nan,nan,nan,Iris-versi,nan,nan,Iris-versi,Iris-versi,nan,nan,Iris-versi,Iris-versi,nan,nan,Iris-versi,nan,nan,Iris-versi,Iris-versi,Iris-versi
148,Iris-virgi,nan,Iris-virgi,Iris-virgi,nan,nan,Iris-virgi,nan,nan,nan,nan,Iris-virgi,nan,nan,Iris-virgi,nan,nan,nan,Iris-virgi,Iris-virgi
149,nan,nan,Iris-virgi,nan,nan,Iris-virgi,Iris-virgi,nan,nan,nan,nan,Iris-virgi,Iris-virgi,nan,nan,nan,nan,nan,Iris-virgi,Iris-virgi

In [38]:
# here to find the frequency of each class

def freq(x):
    d={}
    for i in x:
        d[i]=d.get(i,0) + 1
        
    # Remove the nan key
    d.pop('nan',None)
    key = list(d.keys())
    val=list(d.values())
    return(key[val.index(max(val))])

In [39]:
row1=pred.iloc[0,]
freq(row1)

'Iris-setos'

In [40]:
#obtaining the final prediction for all the predicted observations

prediction=[]

for index in range(0,len(pred)):
    prediction.append(freq(pred.iloc[index,]))
    
    
prediction

['Iris-setos',
 'Iris-versi',
 'Iris-virgi',
 'Iris-versi',
 'Iris-virgi',
 'Iris-versi',
 'Iris-virgi',
 'Iris-virgi',
 'Iris-versi',
 'Iris-setos',
 'Iris-virgi',
 'Iris-versi',
 'Iris-virgi',
 'Iris-virgi',
 'Iris-virgi',
 'Iris-versi',
 'Iris-versi',
 'Iris-versi',
 'Iris-setos',
 'Iris-virgi',
 'Iris-virgi',
 'Iris-versi',
 'Iris-versi',
 'Iris-setos',
 'Iris-virgi',
 'Iris-virgi',
 'Iris-versi',
 'Iris-virgi',
 'Iris-versi',
 'Iris-setos',
 'Iris-setos',
 'Iris-virgi',
 'Iris-virgi',
 'Iris-virgi',
 'Iris-virgi',
 'Iris-versi',
 'Iris-virgi',
 'Iris-setos',
 'Iris-setos',
 'Iris-versi',
 'Iris-virgi',
 'Iris-setos',
 'Iris-setos',
 'Iris-setos',
 'Iris-setos',
 'Iris-versi',
 'Iris-virgi',
 'Iris-setos',
 'Iris-virgi',
 'Iris-setos',
 'Iris-versi',
 'Iris-versi',
 'Iris-virgi',
 'Iris-setos',
 'Iris-virgi',
 'Iris-versi',
 'Iris-virgi',
 'Iris-versi',
 'Iris-setos',
 'Iris-virgi',
 'Iris-versi',
 'Iris-versi',
 'Iris-versi',
 'Iris-setos',
 'Iris-versi',
 'Iris-virgi',
 'Iris-setos',
 'Iris-setos',
 'Iris-virgi',
 'Iris-setos',
 'Iris-versi',
 'Iris-setos',
 'Iris-setos',
 'Iris-virgi',
 'Iris-versi',
 'Iris-setos',
 'Iris-versi',
 'Iris-versi',
 'Iris-setos',
 'Iris-setos',
 'Iris-setos',
 'Iris-virgi',
 'Iris-versi',
 'Iris-virgi',
 'Iris-virgi',
 'Iris-versi',
 'Iris-versi',
 'Iris-setos',
 'Iris-versi',
 'Iris-setos',
 'Iris-versi',
 'Iris-setos',
 'Iris-virgi',
 'Iris-setos',
 'Iris-setos',
 'Iris-versi',
 'Iris-versi',
 'Iris-setos',
 'Iris-setos',
 'Iris-virgi',
 'Iris-versi',
 'Iris-setos',
 'Iris-virgi',
 'Iris-virgi',
 'Iris-setos',
 'Iris-setos',
 'Iris-virgi',
 'Iris-setos',
 'Iris-versi',
 'Iris-virgi',
 'Iris-versi',
 'Iris-setos',
 'Iris-versi',
 'Iris-virgi',
 'Iris-versi',
 'Iris-setos',
 'Iris-virgi',
 'Iris-setos',
 'Iris-setos',
 'Iris-setos',
 'Iris-versi',
 'Iris-setos',
 'Iris-setos',
 'Iris-versi',
 'Iris-virgi',
 'Iris-versi',
 'Iris-virgi',
 'Iris-versi',
 'Iris-virgi',
 'Iris-setos',
 'Iris-virgi',
 'Iris-versi',
 'Iris-virgi',
 'Iris-setos',
 'Iris-virgi',
 'Iris-versi',
 'Iris-virgi',
 'Iris-versi',
 'Iris-versi',
 'Iris-setos',
 'Iris-setos',
 'Iris-setos',
 'Iris-virgi',
 'Iris-virgi',
 'Iris-virgi',
 'Iris-setos',
 'Iris-virgi',
 'Iris-versi',
 'Iris-virgi',
 'Iris-virgi']

In [41]:
# Attach the "predicted" column to the data which we have got as output by aggregating the outputs of all the models 

data=iris.copy()
data["predicted"]=prediction
data

,sepal_length,sepal_width,petal_length,petal_width,species,predicted
18,5.7,3.8,1.7,0.3,Iris-setosa,Iris-setos
63,6.1,2.9,4.7,1.4,Iris-versicolor,Iris-versi
133,6.3,2.8,5.1,1.5,Iris-virginica,Iris-virgi
56,6.3,3.3,4.7,1.6,Iris-versicolor,Iris-versi
77,6.7,3.0,5.0,1.7,Iris-versicolor,Iris-virgi
...,...,...,...,...,...,...
30,4.8,3.1,1.6,0.2,Iris-setosa,Iris-setos
118,7.7,2.6,6.9,2.3,Iris-virginica,Iris-virgi
95,5.7,3.0,4.2,1.2,Iris-versicolor,Iris-versi
131,7.9,3.8,6.4,2.0,Iris-virginica,Iris-virgi
104,6.5,3.0,5.8,2.2,Iris-virginica,Iris-virgi

In [44]:
conf_matrix= confusion_matrix(data.species,data.predicted)
conf_matrix

array([[ 0,  0,  0,  0,  0,  0],
       [50,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0],
       [ 0,  0, 46,  0,  4,  0],
       [ 0,  0,  0,  0,  0,  0],
       [ 0,  0,  2,  0, 48,  0]], dtype=int64)

In [46]:
accuracy=(50+46+48)/150
accuracy

0.96

In [47]:
#OUT OF BAG ERROR 
oob_error= 1-accuracy
oob_error

0.040000000000000036

In [2]:
#assiging the predictors
predictors=iris[['sepal_length','sepal_width','petal_length','petal_width']]
#assigining the target variable
target=iris[["species"]]
#splitting the data into test and train. 
x_train=predictors.iloc[:101,:] #splitting train predictors
y_train=target.iloc[:101,:] #splitting the target train
x_test=predictors.iloc[101:,:] #splitting test predictors
y_test=target.iloc[101:,:] #splitting test target